.item__content {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}



/* .item::before {
    content: url(//img-fotki.yandex.ru/get/5413/5091629.67/0_5ba12_81d03a82_XS.png);
   
    background-color: #d66158;
    background-size: cover;
    height: 50px;
    width: 50px;
    border-radius: 50%;

    display: inline-block;
    vertical-align: middle;
} */

.item img {


    height: 90px;

    /* border-radius: 50%; */

}

.item__text {
    padding-left: 20px;
    font-size: 25px;
}